* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background-color: #f1f1f1;
  position: relative; }

html, body {
  height: 100%; }

.transition {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

header {
  color: #2d4255 !important;
  z-index: 1000; }

.nav-container {
  overflow: hidden;
  line-height: 50px; }

.logo-container {
  overflow: hidden;
  float: left;
  height: 100px;
  padding: 30px 0 20px 0; }

.nav-list-container {
  overflow: hidden;
  float: right;
  padding: 30px 0 20px 0; }
  .nav-list-container .nav-list {
    list-style: none;
    margin: 0;
    padding: 0; }
    .nav-list-container .nav-list li {
      display: inline-block;
      font-size: 20px;
      font-weight: 300;
      margin: 0 20px;
      cursor: pointer; }
      .nav-list-container .nav-list li a {
        color: inherit;
        text-decoration: none; }
      .nav-list-container .nav-list li a:hover {
        color: inherit;
        text-decoration: none;
        cursor: pointer; }
      .nav-list-container .nav-list li:last-child {
        margin-right: 0; }

.inactive-section {
  opacity: 0; }

.home-container {
  width: 100%;
  height: 100%;
  background-color: #a20e30;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0; }

#main-container {
  overflow: hidden;
  width: 100%; }
  #main-container .page-title-container {
    overflow: hidden;
    text-align: center;
    height: 150px; }
    #main-container .page-title-container.inactive {
      height: 0 !important; }
    #main-container .page-title-container.home {
      color: white;
      background-color: #a20e30;
      height: 580px; }
    #main-container .page-title-container.sections {
      color: #2d4255;
      background-color: #fff;
      line-height: 150px; }
    #main-container .page-title-container .main-title-section {
      font-weight: 100;
      font-size: 60px;
      margin: 0;
      padding: 0; }
    #main-container .page-title-container .main-title-logo-img {
      margin-top: 80px; }
    #main-container .page-title-container .main-title-logo {
      font-weight: 100;
      margin: 30px 0 60px 0; }

.main-content {
  margin-top: 80px;
  color: #2d4255; }
  .main-content .section-main-text {
    font-size: 24px;
    line-height: 40px;
    font-weight: 300; }
  .main-content .sub-section .sub-section-title {
    font-weight: 300; }
  .main-content .sub-section .sub-section-text {
    padding: 10px 0;
    font-weight: 300; }

.page-footer {
  color: white; }
  .page-footer.about-us {
    background-color: #e93c4f; }

.footer-container {
  width: 90% !important;
  margin: 0 auto !important;
  padding: 40px 0; }
  .footer-container .footer-subsection {
    text-align: center; }
    .footer-container .footer-subsection .footer-subsection-title {
      font-weight: 100;
      margin-bottom: 0; }
