$main-colour: #a20e30;
$main-dark: #2d4255;
$darker-blue: #323237;
$main-light: #adbcc3;
$bg-grey: #f1f1f1;
$light-red: #e93c4f;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $main-dark;
  font-weight: 300;
  background-color: $bg-grey;
  position: relative;
  // margin-top: 90px;
}

html, body {
  height: auto;
}

.transition {
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover
{
  color: inherit;
  text-decoration:none;
  cursor:pointer;
}

header {
  color: white !important;
  // color: $main-dark !important;
  // background-color: #fff;
  // background-color: $bg-grey;
  // border-bottom: solid 1px $main-light;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  &.scrolled {
    background-color: #fff;
    .nav-list {
      li {
        &:hover, &.active {
          color: $main-dark;
        }
      }
    }
  }
}

.nav-container {
  overflow: hidden;
  line-height: 50px;
  // border-bottom: solid 2px $main-dark;
}

.logo-container {
  overflow: hidden;
  float: left;
  height: 90px;
  padding: 20px 0;

  .logo-image, .logo-text {
    float: left;
    margin: 0;
    padding: 0;
  }

  .logo-text {
    color: #2d4255;
    font-size: 1.7em;
    margin-left: 20px;
    font-weight: 300;
    opacity: 0;

    &.active {
      opacity: 1;
    }
  }
}


.nav-list-container {
  overflow: hidden;
  float: right;
  padding: 20px 0;
  .nav-list {
    list-style: none;
    height: 50px;
    margin: 0;
    padding: 0;

    li {
      color: $main-light;
      display: inline-block;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500;
      margin: 0 20px;
      cursor: pointer;

      &:hover, &.active {
        color: #fff;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}


section {
  padding-top: 90px !important;
  margin-top: -90px !important;
}

// *************
// COVER SECTION
// *************

#cover {
  padding: 0 0 35px 0;
  color: white;
  // background-color: $main-colour;
  background-image: url(../img/bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 0 30%;

  .cover-logo {
    padding: 160px 0 35px 0;
  }
  .icon-list {
    padding: 35px 0;
  }

  .cover-logo {
    .main-title-logo-img {
      margin-bottom: 20px;
    }
    .main-title-logo {
      font-size: 3em;
    }
  }

}


// **********
// ICONS LIST
// **********

.icon-list {

  .icon-list-section {
    margin: 15px 0;
  }

  .icon-list-image {
    margin-bottom: 15px;
  }
  .icon-list-title {
    font-size: 1.5em;
  }
}

.about-icons {
  color: #fff !important;
  background-color: $light-red;
  padding: 20px 0;
}


// ***************
// GENERAL SECTION
// ***************

.main-section {
  .section-header {
    background-color: #fff;
    .section-title {
      color: inherit;
      font-size: 3.5em;
      line-height: 3em;
    }
  }

  .section-content {
    padding-top: 70px;
  }

  .section-main-content {
    margin-bottom: 70px;
    .section-main-text {
      font-size: 2.5em;
      line-height: 1.3em;
    }
  }
  .section-sub-content {
    margin-bottom: 40px;
    .subsection {
      margin-bottom: 50px;
      .subsection-title {
        font-size: 2em;
        margin-bottom: 0.5em;
      }
      .subsection-text {
        font-size: 1.2em;
        line-height: 1.5em;
      }
    }
  }
}


// **************
// TEAM SPECIFICS
// **************

.team-member-image {
  margin-bottom: 20px;
}

.team-member-name {
  font-size: 1.8em !important;
  margin-bottom: 10px !important;
}
.team-member-position {
  text-transform: uppercase;
  font-size: 1.1em !important;
  font-weight: 500;
  margin-top: 0;
}

.social {
  ul {
    list-style: none;
    padding: 20px 0;
    color: $main-light;

    li {
      display: inline-block;
      font-size: 30px;
      padding: 0 10px;
    }
  }
}


.team-icons {
  height: 230px;
  background-color: #323237;
}


// *****************
// CONTACT SPECIFICS
// *****************

.contact-section {
  font-weight: 400 !important;
  .phone {
    font-size: 4em;
    // color: $main-colour;
  }
  .email {
    font-size: 4em;
    color: $main-colour;
  }
}

footer {

  width: 100%;
  background-color: $darker-blue;
  .footer-text {
    line-height: 60px;
    font-size: 14px;
    color: #fff;
  }
}