<!-- ||ABOUT SECTION BEGIN|| -->
  <section id="about" class="main-section">
    <div class="section-header text-center">
      <h1 class="section-title">We are codelogic!</h1>
    </div>
    <div class="section-content">
      <div class="section-main-content row text-center">
        <div class="column large-12">
          <h1 class="section-main-text">To best suit your needs, we select the best tools from a wide range of open source ones. We truly believe that open source technologies are the way to go and we contribute to them a lot - I mean a LOT...</h1>
        </div>
      </div>
      <div class="section-sub-content row text-center">
        <div class="column large-6">
          <div class="subsection column large-12">
            <h2 class="subsection-title">Why choose us?</h2>
            <p class="subsection-text">We are a creative team who firmly believes that the most important thing is to continuously amaze our clients with solutions that will make their life easier.</p>
          </div>
          <div class="subsection column large-12">
            <h2 class="subsection-title">What do we do?</h2>
            <p class="subsection-text">We focus on figuring out what is your real problem and through rapid iterations with delivery cycles we will, together, find out how to best solve your problem.</p>
          </div>
        </div>
        <div class="column large-6">
          <div class="subsection column large-12">
            <h2 class="subsection-title">Technologies we love</h2>
            <div id="holder"></div>
          </div>
        </div>
      </div>
      <div class="icons-section about-icons">
        <div class="row icon-list text-center about-icons">
          <div class="column large-4 icon-list-section">
            <embed class="icon-list-image" src="img/happy-clients.svg" type="image/svg+xml">
            <h3 class="icon-list-title">6 happy clients</h3>
          </div>
          <div class="column large-4 icon-list-section">
            <embed class="icon-list-image" src="img/days-work.svg" type="image/svg+xml">
            <h3 class="icon-list-title working-days"></h3>
          </div>
          <div class="column large-4 icon-list-section">
            <embed class="icon-list-image" src="img/cups-coffee.svg" type="image/svg+xml">
            <h3 class="icon-list-title">500+ cups of coffee</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ||ABOUT SECTION END|| -->
