<!-- ||HEADER BEGIN|| -->
  <header class="transition">
    <div class="row">
      <div class="columns large-12">
        <div class="nav-container">
          <div class="logo-container transition">
            <a class="logo-image" href="#cover">
              <!-- <img src="img/logo.svg" alt="" class="active"> -->
              <img class="logo-image-file" src="img/logo-light.svg" alt="">
              <h2 class="logo-text transition-slow">codelogic</h2>
            </a>
          </div>
          <div class="nav-list-container transition">
            <ul class="nav-list">
              <li class="transition about-link"><a href="#about">about us</a></li>
              <li class="transition team-link"><a href="#team">our team</a></li>
              <li class="transition contact-link"><a href="#contact">contact us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- ||HEADER END|| -->
