<head>
  <meta charset="UTF-8">
  <title>codelogic</title>
  <meta name="description" content="We Are Codelogic! We focus on figuring out what is your real problem and through rapid iterations and delivery cycles we will, together, find out how to best solve your problem.">
  <meta name="keywords" content="web apps, mobile apps, ruby, javascript, android">
  <meta name="autor" content="Codelogic">
  <meta name="company" content="Codelogic">
  <link rel="stylesheet" href="{{site.baseurl}}/css/css-assets.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:500,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
</head>
