<!-- ||TEAM SECTION BEGIN|| -->
  <section id="team" class="main-section">
    <div class="section-header text-center">
      <h1 class="section-title">Meet our team!</h1>
    </div>
    <div class="section-content">
      <div class="section-main-content row text-center">
        <div class="column large-12">
          <h1 class="section-main-text">These are the stars that make your spark come true!</h1>
        </div>
      </div>
      <div class="section-sub-content row text-center">
        <!-- ||LUKAS|| -->
        <div class="subsection column large-4">
          <img class="team-member-image" src="img/team/lukas.png" alt="">
          <h2 class="team-member-name subsection-title">Lukas Alexandre (Luke)</h2>
          <p class="team-member-position subsection-text">Bug Smasher</p>
          <div class="social">
            <ul>
              <li>
                <a href="https://github.com/lukelex" target="_blank" class="fa fa-github"></a>
              </li>
              <li>
                <a href="http://br.linkedin.com/pub/lukas-andrade/26/151/77a/en" target="_blank" class="fa fa-linkedin"></a>
              </li>
              <li>
                <a href="http://www.facebook.com/lukastm" target="_blank" class="fa fa-facebook-square"></a>
              </li>
            </ul>
          </div>
          <p class="subsection-text">When not programming awesome Ruby & Javascript applications he can be found hacking some Arduino and Elixir projects.</p>
        </div>

        <!-- ||THIAGO|| -->
        <div class="subsection column large-4">
          <img class="team-member-image" src="img/team/kimo.png" alt="">
          <h2 class="team-member-name subsection-title">Thiago Rocha (Kimo)</h2>
          <p class="team-member-position subsection-text">Mobile/Web Architect</p>
          <div class="social">
            <ul>
              <li>
                <a href="https://github.com/thiagokimo" target="_blank" class="fa fa-github"></a>
              </li>
              <li>
                <a href="http://www.linkedin.com/in/thiagokimo" target="_blank" class="fa fa-linkedin"></a>
              </li>
              <li>
                <a href="https://www.facebook.com/thiagokimo" target="_blank" class="fa fa-facebook-square"></a>
              </li>
            </ul>
          </div>
          <p class="subsection-text">A table tennis player who often improve its scraping/indexing techniques through the web.</p>
        </div>

        <!-- ||RAPHAEL|| -->
        <div class="subsection column large-4">
          <img class="team-member-image" src="img/team/raphael.png" alt="">
          <h2 class="team-member-name subsection-title">Raphael Faria (Boy)</h2>
          <p class="team-member-position subsection-text">Designer/Developer</p>
          <div class="social">
            <ul>
              <li>
                <a href="https://github.com/raphaelfaria" target="_blank" class="fa fa-github"></a>
              </li>
              <li>
                <a href="https://www.facebook.com/ORaphaelFaria" target="_blank" class="fa fa-facebook-square"></a>
              </li>
            </ul>
          </div>
          <p class="subsection-text">
            Musician and Curious in his spare time, loves the Web
            and programming C.
          </p>
        </div>
      </div>
      <div class="icons-section team-icons">

      </div>
    </div>
  </section>
<!-- ||TEAM SECTION END|| -->
